
.env
*.env
*.env.local

# Bancos de dados
*.db
*.sqlite
*.sqlite3


# Certificados SSL
ssl/
*.crt
*.key
*.pem
*.cert

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.Python


# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid

# Sistemas operacionais
.DS_Store
Thumbs.db
